ZK_ENVIRONMENT=development


ZK_PROJECT_ROOT=/workspaces/zeitrak
ZK_AUTHENTICATION_SECRET=s€cR€+


ZK_DATABASE_BASE_URI=sqlite:///workspaces/zeitrak/.devcontainer/database
ZK_ADMIN_DATABASE_NAME=zeitrak_admin

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
